body {
  background-image: url(/IMG_20241102_124909_093.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: blue
}

.nav-site > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.9em;
  color :blue
}
ul > .nav-right {
  align-content: flex-end;
  text-decoration: none;
  color: white;
}
